/* .nav{
    word-spacing: 40px;
    text-align: end;
    cursor: pointer;
    position: sticky;
    top: -1px;
    background-color: rgb(112, 112, 112);
    color: white;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-left: -10px;
    margin-top: -11px;
    padding-right: 10px;
}

.menu-btn:hover{
    background-color: #ddd;
    color: black;
}

.menu-btn1{
    padding-right: 1480px;
    word-spacing: 2px;
} */

.img{
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    gap: 50px;
    justify-content: center;
}

.img-1{
    border-radius: 24px;
}

@media screen and (max-width: 768px) {
    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1280px) {
    .img-1{
        width: 500px;
        height: 325px;
    }
}

@media screen and (max-width: 1100px) {
    .img-1{
        width: 425px;
        height: 305px;
    }
}

@media screen and (max-width: 950px) {
    .img-1{
        width: 375px;
        height: 260px;
    }
}

@media screen and (max-width: 835px) {
    .img-1{
        width: 325px;
        height: 225px;
    }
}

@media screen and (max-width: 480px) {
    .img-1{
        width: 275px;
        height: 170px;
    }
}


.first{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hh{
    text-align: center;
}

.p1{
    text-align: center;
    letter-spacing: 5px;
    font-weight: 500;
}

.p2{
    text-align: center;
    color: black;
}

.p3{
    text-align: center;
    color: gray;
}

.fourth{
    letter-spacing: 5px;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.p4{
    padding-left: 12px;
    font-weight: 600;
    color: grey;
    text-align: center;
}

.dinner{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
    .dinner{
        padding-bottom: 54px;
    }
    .dinner img{
        width: 350px;
    }
}

@media screen and (max-width: 420px) {
    .dinner{
        padding-bottom: 48px;
    }
    .dinner img{
        width: 325px;
    }
}

@media screen and (max-width: 370px) {
    .dinner{
        padding-bottom: 36px;
    }
    .dinner img{
        width: 300px;
    }
}

@media screen and (max-width: 325px) {
    .dinner{
        padding-bottom: 36px;
    }
    .dinner img{
        width: 275px;
    }
}

.p5{
    color: blue;
    font-weight: 700;
}

.button{
    cursor: pointer;
    color: white;
    background-color: rgb(12, 89, 165);
    border-radius: 2px solid rgb(184, 7, 7);
    font-size: 15px;
}

.p6{
    color: white;
    background-color: gray;
    padding-top: 55px;
    padding-bottom: 70px;
    text-align: center;
    margin-left: -11px;
    margin-right: -11px;
    margin-bottom: -11px;
    cursor: pointer;
}